aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
build
cachetools
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
dataclasses-json
deprecation
distro
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-spectacular
drf-spectacular-sidecar
drf-yasg
durationpy
filelock
filetype
flatbuffers
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
gotrue
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
inflection
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pillow
postgrest
posthog
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyMuPDF
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
python-docx
pytz
PyYAML
realtime
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
SQLAlchemy
sqlparse
storage3
StrEnum
supabase
supafunc
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websocket-client
websockets
yarl
zipp
zstandard
